<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Final Reminder</title>
 <p style = "font-family:Verdana, Geneva, sans-serif;">Hi <b>${Name}</b>,
 <br><br>
 <b>Final Reminder</b>
<br><br>If you have not filled the survey yet, then please consider this email on priority and close the survey from your end before ${Date} EOD.
<br><br>Add in your response using this link:
<a href=${URL} target="_blank">Accolite Survey</a>
 <br><br>Thanks and Regards,
 <br>HR Team
</p>
</head>
<body>
</body>
</html>